spring.datasource.url=jdbc:h2:mem:AZ;
spring.datasource.username=meteo
spring.datasource.password=meteo

spring.datasource.driverClassName=org.h2.Driver

spring.jpa.properties.hibernate.connection.driver_class=org.h2.Driver
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.H2Dialect
spring.jpa.properties.hibernate.connection.useUnicode=true
spring.jpa.properties.hibernate.connection.characterEncoding=UTF-8
spring.jpa.properties.hibernate.connection.charSet=UTF-8
spring.jpa.properties.hibernate.hbm2ddl.auto=validate
spring.jpa.properties.hibernate.event.merge.entity_copy_observer=allow


liquibase.change-log=classpath:db/db.changelog-master.xml
liquibase.enabled=true

spring.thymeleaf.prefix=classpath:/templates/

custom.jeoqueryUsername= #web api token to access jeoquery service https://github.com/tompi/jeoquery#how-to-use 
custom.owmAPPID= #web api token to access OpenWeatherMap service - http://openweathermap.org/appid
custom.meteodataValidPeriod=5
custom.forecastIoSecretKey= #web api token to access Forecast IO service - https://darksky.net/dev/account
