div.componentContainer {
	
}

div.meteoview {
	
}

input.selectgeo {
	border-radius: 4px;
	width: 500px;
}

div.meteoservice, div.selectServiceContainer {
	border-radius: 4px;
	border-style: groove;
	border-color: gray;
	width: 500px;
}

select.selectdict {
	border-radius: 4px;
	width: 330px;
}

label.componentLabel {
	
}

span.errorFetch {
	
}

.loading {
	background: url(/img/spinner.gif);
	background-repeat: no-repeat;
	background-position: center;
}